.qabot-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #1a0dab;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  background-color: #1a0dab;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
}

.sidebar-item.beta {
  background-color: #ff0000;
  position: relative;
}

.sidebar-item.beta span {
  background-color: #ff0000;
  color: white;
  padding: 2px 5px;
  font-size: 0.7em;
  position: absolute;
  top: 0;
  right: 0;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

h1 {
  color: linear-gradient(90deg, #ff3571 0%, #a259ff 100%);;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  color: #000000;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.option {
  border: 2px solid #0000ff;
  padding: 20px;
  width: 250px;
 
  border-radius: 5px;
  text-align: left;

}

.get-started {
  background-color: #06A700;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
}